@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@font-face {
  font-family: cursive;
  src: url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
}
.App {
  font-family: cursive;
}
